<div class="jumbotron">
  <h1>ARTSDATA.CA</h1>
  <p>A national knowledge graph for the arts</p>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Overview</h2>
    <p>Artsdata.ca aims to empower the Canadian arts sector to leverage linked open data and actively promote a more
      fair and equitable digital ecosystem. This initiative is building a machine-readable knowledge graph of the arts
      that is open and accessible to all.</p>

    <h2>About Artsdata.ca</h2>
    <p>Like Wikidata, the vision for Artsdata.ca is to build a knowledge graph that is open, accessible and community
      sourced. What sets it apart is that, under the stewardship of stakeholders within the arts sector, Artsdata.ca is
      focused on the Canadian arts sector. The objectives are to:
      <ul>
        <li>Build a substantial web of linked open data of arts-related information</li>
        <li>Provide high-quality data that is comprehensive and up to date</li>
        <li>Create a valuable resource for the arts sector</li>
        <li>Make a digital resource that reflects the values of the arts</li>
      </ul>
    </p>
    <h3>Benefits</h3>
    <p>The Artsdata.ca knowledge graph enables the arts sector and its organizations to:
      <ul>
        <li>Gain knowledge, agency and control of descriptive metadata about events</li>
        <li>Streamline the circulation of arts events to listings sites, recommendation systems and other search engines
          by programmatically sharing event metadata</li>
        <li>Optimize the use of the latest web technologies to generate new opportunities</li>
      </ul>
    </p>

    <h2>Key Activities</h2>
    <p>There are several aspects to this initiative:
      <ul>
        <li>Promote a common data model for cultural information on performing arts events, taking advantage of existing
          ontologies where possible.</li>
        <li>Onboard cohorts of Canadian arts organizations to include their descriptive metadata in Artsdata.ca</li>
        <li>Increase breadth and quality of the Artsdata.ca knowledge graph by adding data from a variety of sources
        </li>
        <li>Create a library of global identifiers for events, places, persons, organizations and works in the Canadian
          arts sector </li>
        <li>Link to other knowledge sources like Wikidata: leverage the use of existing global identifiers and linked
          open data with the goal of creating a substantial web of data</li>
      </ul>
    </p>


    <h3>Artsdata.ca in 2020</h3>
    <p>This year’s highlights:
      <ul>
        <li>Continue on-boarding arts organizations into Artsdata.ca </li>
        <li>improve data quality </li>
        <li>Expand use of data sources including databases, websites and other open data sources </li>
        <li>Synchronize global identifiers between Artsdata.ca and Wikidata.org to interlink data about places, artists,
          organizations and works </li>
      </ul>
    </p>

    <h3>Want to know more about the Artsdata.ca Data Model?</h3>
    <p>Find out about model classes and properties. Provide feedback and ask questions.
      <br>
      <a class="btn btn-default" href="https://culturecreates.github.io/artsdata-data-model/">Start Learning</a>
    </p>

    <h3>Looking for a SPARQL endpoint?</h3>
    <p>Artsdata.ca works with SPARQL, a query language for linked open data and semantic graph databases. SPARQL users
      can query the knowledge graph using the provided YASGUI user interface or a remote SPARQL client.
      <br>
      <a class="btn btn-default" href="/sparql">Access SPARQL</a>
    </p>
    <p>
      Sample SPARQL queries:
      <br>
      <a class="btn btn-default" href="https://culturecreates.github.io/artsdata-data-model/">Events</a>
      <a class="btn btn-default" href="https://culturecreates.github.io/artsdata-data-model/">Artists</a>
      <a class="btn btn-default" href="https://culturecreates.github.io/artsdata-data-model/">Organizations</a>
      <a class="btn btn-default" href="https://culturecreates.github.io/artsdata-data-model/">Places</a>
    </p>
  </div>
</div>