<!--page header / hero image-->
<div class="container-fluid">
  <div class="row" style="background-color: #333">
    <div class="jumbotron" style="background-color: #333">
      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <h1 style="color: white">ARTSDATA.CA</h1>
          <p class="lead" style="font-size: xx-large; color:whitesmoke">Un graphe de connaissances national pour les arts</p>
          <br>
          <!-- <button type="button" class="btn btn-warning btn-lg">Explore the data</button> -->
        </div>
        <div class="col-sm-6 col-md-3">
          <p class="text-center">
            <img src="images/artsdata_event_model_blank.svg" class="img-responsive" alt="Responsive image" />
          </p>
        </div>
      </div><!-- row -->
    </div><!-- jumbotron -->
  </div><!-- row -->
</div><!-- container -->

<!--first statement-->
<div class="row caitlin-custom-margin" style="background-color: #eee">
  <div class="col-sm-12">
    <br></br>
    <p style="font-size: x-large">Artsdata.ca vise à donner au secteur des arts du Canada la possibilité d’optimiser des données ouvertes liées et à promouvoir activement un écosystème numérique plus juste et équitable. Cette initiative procède à la construction d’un graphe de connaissances pour les arts qui soit lisible par machine, ouvert et accessible à tout le monde.</p>
    <br>
  </div>
</div>

<!--About and Benefits-->
<div class="row caitlin-custom-margin">
  <div class="col-md-12">
    <h2>À propos d'Artsdata</h2>
    <br>
  </div>
</div>

<div class="container-fluid caitlin-custom-margin">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-heading" style="background-color: #555">
          <h3 class="panel-title" style="font-size: x-large; color: white">Vision</h3>
        </div>
        <div class="panel-body" style="font-size: larger">
          <p>Artsdata.ca a pour objectif de construire un graphe de connaissances qui soit ouvert, accessible et issu de la communauté. Ce qui distingue Artsdata.ca, c’est que son centre d’intérêt, sous l’intendance des parties prenantes du milieu artistique, est le secteur des arts du Canada. Ses objectifs sont :
            <ul class="custom-bullet">
              <li>Produire une ressource numérique reflétant les valeurs propres aux arts</li>
              <li>Construire un important réseau de données ouvertes liées sur les arts</li>
              <li>Offrir des données de grande qualité, détaillées et à jour</li>
              <li>Créer une ressource précieuse pour le secteur des arts</li>
            </ul>
          </p>
        </div><!-- panel-body -->
      </div><!-- panel -->
    </div><!-- col -->

    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-heading" style="background-color: #555">
          <h3 class="panel-title" style="font-size: x-large; color: white">Avantages</h3>
        </div>
        <div class="panel-body" style="font-size: larger">
          <p>Le graphe de connaissances de Artsdata.ca permet au secteur des arts et à ses organismes :
            <ul class="custom-bullet">
              <li>D’acquérir des connaissances, de l’agentivité et un contrôle sur des métadonnées descriptives relatives à des événements</li>
              <li>De ramener la circulation d’événements artistiques à des sites de listes, à des systèmes de recommandation et à d’autres moteurs de recherche en partageant, de manière programmatique, des métadonnées sur des événements</li>
              <li>D’optimiser l’utilisation des plus récentes technologies du web pour créer de nouvelles opportunités</li>
            </ul>
          </p>
        </div><!-- panel-body -->
      </div><!-- panel -->
    </div><!-- col -->
  </div> <!-- row -->
</div><!-- container-fluid -->
<br>

<div class="container-fluid caitlin-custom-margin">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-heading" style="background-color: #555">
          <h3 class="panel-title" style="font-size: x-large; color: white">Activités</h3>
        </div>
        <div class="panel-body" style="font-size: larger">
          <ul class="custom-bullet">
            <li>Promouvoir un modèle de données commun pour les informations culturelles sur les événements en arts de la scène, en profitant d’ontologies existantes lorsque possible</li>
            <li>Intégrer des cohortes d’organismes culturelles canadiens pour que leurs métadonnées descriptives soient inclues dans Artsdata.ca</li>
            <li>Accroître la portée et la qualité du graphe de connaissances de Artsdata.ca en y ajoutant des données provenant d’une variété de sources</li>
            <li>Créer une bibliothèque d’identificateurs globales pour des événements, des lieux, des personnes, des organismes et des œuvres dans le secteur des arts du Canada</li>
            <li>Se lier à d’autres sources de connaissances comme Wikidata : optimiser l’utilisation d’identificateurs globales existants et de données ouvertes liées dans le but de créer un important réseau de données</li>
          </ul>
        </div>
      </div>
      <br>
    </div>
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-heading" style="background-color: #555">
          <h3 class="panel-title" style="font-size: x-large; color: white">Artsdata en 2020</h3>
        </div>
        <div class="panel-body" style="font-size: larger">
          <ul class="custom-bullet">
            <li>Continuer à intégrer des organismes artistiques à Artsdata.ca</li>
            <li>Améliorer la qualité des données</li>
            <li>Élargir l’utilisation des sources de données incluant les bases de données, les sites web et autres sources de données ouvertes</li>
            <li>Synchroniser les identificateurs mondiaux de Artsdata.ca et de Wikidata.org afin de conjuguer les données sur les lieux, les artistes, les organismes et les œuvres</li>
          </ul>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>

<div class="row" style="background-color: #eee">
  <br>
  <br>
  <div class="caitlin-custom-margin">
  </div>
  <div class="col-xs-12">
    <h3 class="text-center">Vous voulez en savoir plus?</h3>
    <p class="text-center" style="font-size: x-large">Découvrez les classes et les propriétés du modèle. Donnez votre avis et posez des questions.
      <br>
      <br>
      <a class="btn btn-warning btn-lg" href="https://culturecreates.github.io/artsdata-data-model/">Voir le modèle</a>
      <p class="text-center">Seulement disponible en anglais</p>
    </p>
    <br>
    <br>
  </div>
</div>

<!--Add events to artsdata-->
<div class="row">
  <div class="caitlin-custom-margin">
    <div class="col-xs-12">
      <h2>Ajoutez vos événements à Artsdata.ca</h2>
      <br>
    </div>
  </div>
</div>

<div class="container-fluid caitlin-custom-margin">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-heading" style="background-color: #555">
          <h3 class="panel-title" style="font-size: x-large; color: white">Besoin de structurer vos événements?</h3>
        </div>
        <div class="panel-body" style="font-size: larger">
          <p>Pour structurer vos événements, ajoutez JSON-LD ou RDFa à vos pages Web en suivant les instructions de Google. Vous aurez besoin d'une expertise technique et d'un accès au backend de votre site Web. 
              <br>
              <strong>Rappelez vous!</strong> Utilisez le <a
                href="https://culturecreates.github.io/artsdata-data-model/">modèle Artsdata.ca</a> (seulement disponible en anglais) lors de la structuration de vos propres données d'événement.</p>
            <a class="btn btn-warning btn-lg"
              href="https://developers.google.com/search/docs/data-types/event?utm_source=devtools">Structurer mes propres événements</a>
            <br>
          </p>
        </div>
      </div>
      <br>
    </div>
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-heading" style="background-color: #555">
          <h3 class="panel-title" style="font-size: x-large; color: white">Vous avez déjà structuré vos événements?</h3>
        </div>
        <div class="panel-body" style="font-size: larger">
          <p>Nous pouvons les ajouter à Artsdata.ca.
            <br>
            <a class="btn btn-warning btn-lg"
              href="mailto:support@culturecreates.com?subject=Participation%20à%20Artsdata.ca&body=Mon%20site%20Web%20contient%20des%20données%20structurées.%20Veuillez%20l'ajouter%20à%20artsdata.ca.">Ajouter mon site Web</a>
            <br></br>
          </p>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>

<!--Sparql info-->
<div class="row" style="background-color: #eee">
  <div class="caitlin-custom-margin">
    <div class="col-xs-12">
      <h2>Point de terminaison SPARQL</h2>
      <br>
    </div>
  </div>
</div>

<div class="row" style="background-color: #eee">
  <div class="col-xs-12">
    <div class="caitlin-custom-margin">
      <div class="panel">
        <div class="panel-heading" style="background-color: #555">
          <h3 class="panel-title" style="font-size: x-large; color: white">Vous recherchez un point de terminaison SPARQL?</h3>
        </div>
        <div class="panel-body" style="font-size: larger">
          <p>Artsdata.ca fonctionne avec SPARQL, un langage de requête pour les données ouvertes liées et les bases de données de graphe sémantiques. Les utilisateurs SPARQL peuvent interroger le graphe de connaissances via ce point de terminaison.
            <br>
            <a class="btn btn-warning btn-lg" href="/sparql">Accéder à SPARQL</a>
          </p>
          <br>
          <p>
            Sample SPARQL queries:
            <br>
            <a class="btn btn-warning btn-lg" href="${get('config').sparqls.event}">Évènements</a>
            <a class="btn btn-warning btn-lg" href="${get('config').sparqls.artist}">Artistes</a>
            <a class="btn btn-warning btn-lg" href="${get('config').sparqls.organization}">Organismes</a>
            <a class="btn btn-warning btn-lg" href="${get('config').sparqls.place}">Lieux</a>
            <a class="btn btn-warning btn-lg" href="${get('config').sparqls.provenance}">Provenance</a>
          </p>
        </div>
      </div>
      <br></br>
    </div>
  </div>
</div>

<!--Resources-->
<div class="row">
  <div class="caitlin-custom-margin">
    <div class="col-xs-12">
      <h2 id="other_resources">Autres ressources</h2>
      <p>
        <a class="btn btn-warning btn-lg" href="https://linkeddigitalfuture.ca/fr/accueil/">Linked Digital Future</a>
        <br>
        <a class="btn btn-warning btn-lg"
          href="https://www.wikidata.org/wiki/Wikidata:WikiProject_Performing_arts">Wikidata:WikiProject Performing
          arts</a>
      </p>
    </div>
  </div>
</div>

<!--Partners-->
<div class="row" style="background-color: #eee">
  <div class="caitlin-custom-margin">
    <div class="col-xs-12">
      <h2>Partenaires</h2>
      <br>
      <p style="font-size: larger">
        <strong>
          Directrice générale, Sherrie Johnson
        </strong>
        <br>
        Depuis le début, Sherrie Johnson a activement piloté (avec plusieurs organismes artistiques à travers le pays) l’initiative Artsdata.ca en préparant une série de demandes de subventions multiphases.
      </p>
      <p style="font-size: larger">
        <strong>
         Directeur, recherche et développement, Frederic Julien, CAPACOA
        </strong>
        <br>
        Frédéric Julien a joué un rôle crucial par son appui au travail de Artsdata.ca grâce à l’initiative complémentaire de CAPACOA intitulée Un avenir numérique lié.
      </p>
      <p style="font-size: larger">
        <strong>
          La Culture Crée (Culture Creates)
        </strong>
        <br>
        La Culture Crée (Culture Creates)  est une petite équipe de professionnels de l’art et de technologues se spécialisant dans les graphes de connaissances fonctionnant à partir de la reconnaissance des formes (RDF) ainsi que dans les données ouvertes conjuguées sur les arts. Son mandat est de rendre les renseignements sur l’actualité en art compatibles avec le monde propulsé par l’IA.
        <br><br>
        Artsdata.ca dispose de plusieurs sympathisants collaborateurs à travers le Canada, comme le Centre national des Arts, Culture Laval, la SPEC du Haut-Richelieu et tous les membres des cohortes et des organismes artistiques ayant fourni des données à cette importante initiative.
      </p>
    </div>
  </div>
</div>

<!--Supporters-->
<div class="row">
  <div class="caitlin-custom-margin">
    <div class="col-xs-12">
      <h2>Supporté par</h2>
      <br>
    </div>
  </div>
</div>
<div class="row">
  <div class="caitlin-custom-margin">
    <div class="col-xs-6">
      <a href="https://canadacouncil.ca" class="thumbnail">
        <img
          src="https://canadacouncil.ca/-/media/Images/CCA/Design_Elements/Logos/CCFA-logo-full-en.svg?la=en&hash=F297C9D9740B613B144255DF6A5FDE48869615EC"
          alt="Canada Council for the Arts">
      </a>
    </div>
    <div class="col-xs-6">
      <a href="https://canadacouncil.ca" class="thumbnail">

        <img src="images/PCH.png" alt="Canadian Heritage">
      </a>
    </div>
  </div>
</div>
<hr>
