<div class="row">
  <div class="col-xs-12">
    <h2>Partners</h2>
    <p>
      <strong>
        Executive Director, Sherrie Johnson 
      </strong>
      <br>
      Since inception, Sherrie Johnson has actively stewarded (with several arts organizations across the country) the Artsdata.ca initiative through successive multi-phase grant applications.    </p>
    <p>
      <strong>
        Director of Research and Development, Frederic Julien, CAPACOA
      </strong>
      <br>
      Frederic Julien has played a crucial role in supporting the work of Artsdata.ca through CAPACOA’s complementary Linked Digital Future Initiative.
    </p>
    <p>
      <strong>
        Culture Creates
      </strong>
      <br>
      Culture Creates is a small team of arts professionals and technologists specialized in RDF-based knowledge graphs and linked open data for the arts. Their mission is to make information on what’s happening in the arts compatible with an AI-powered world. 
      Artsdata.ca has many contributing supporters across Canada like the National Arts Centre, Culture Laval, SPEC du Haut Richilieu and every cohort member and arts organization that has contributed data to this important initiative.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Supported by </h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <a href="https://canadacouncil.ca" class="thumbnail">
      <img src="https://canadacouncil.ca/-/media/Images/CCA/Design_Elements/Logos/CCFA-logo-full-en.svg?la=en&hash=F297C9D9740B613B144255DF6A5FDE48869615EC" alt="Canada Council for the Arts">
    </a>
  </div>
  <div class="col-xs-6">
    <a href="https://canadacouncil.ca" class="thumbnail">
      <img src="/images/PCH.png" alt="Canadian Heritage">
    </a>
  </div>
</div>