<div class="row">
  <div class="col-xs-12">
    <h2>Add your events to Artsdata.ca</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Have structured data for your events?</h3>
      </div>
      <div class="panel-body">
        Let us know so we can add them to Artsdata.ca.
        <br>
        <a class="btn btn-default" href="#">Add My Website</a>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Need to structure your events first?</h3>
      </div>
      <div class="panel-body">
        <p>Here are some options.</p>
        <p>
          <a class="btn btn-default" href="#other_resources">Learn How</a>
          <br>
          <strong>Remember!</strong> Use the <a href="https://culturecreates.github.io/artsdata-data-model/">Artsdata.ca data model</a> when structuring your own events.
        </p>
        <p>
          <a class="btn btn-default" href="https://culturecreates.com">Use Footlight</a>
          <br>
          Culture Creates is developing Footlight to help arts organizations add structured data to their events. Contact them to find out more.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2 id="other_resources">Other Resources</h2>

    <p>
      <ol>
        <li>
          <a href="https://linkeddigitalfuture.ca/">Linked Digital Future</a>
        </li>
        <li>
          <a href="https://www.wikidata.org/wiki/Wikidata:WikiProject_Performing_arts">Wikidata:WikiProject Performing arts</a>
        </li>
      </ol>
    </p>
  </div>
</div>
  
 

